body {
    background-image: linear-gradient(#2f44bb, #191970);
}

.cabecalho {
    color: rgb(247, 243, 243);
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 8%;