 body {
        background-color: #2f44bb
        color: rgb(247, 243, 243);
    }

    .cabecalho {
        color: rgb(247, 243, 243);
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }

    .cabecalho-imagem {
        width: 8%;
    }
   