* {
    margin: 0;
    padding: 0;
    color: white;

}

body {
    background-image: linear-gradient(#2f44bb, #191970);
    height: 60em;
    color: white;
}

.cabecalho {
    color: rgb(247, 243, 243);
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 8%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 15px;
    color: white;
}

.contagem{
    color:rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
}