* {
    margin: 0;
    padding: 0;
    color: white;

}

body {
    background-image: linear-gradient(#2f44bb, #191970);
    height: 60em;
    color: rgb(82, 3, 3);
}

.cabecalho {
    color: rgb(247, 243, 243);
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 8%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 15px;
    color: rgb(100, 5, 5);
}

.contagem{
    color:rgb(255, 0, 0);
    padding: 20px 0;
    text-align: center;
}

.botao{
    color: rgb(243, 235, 235);
    background-color: rgb(83, 96, 112);
    font-size: medium;
    padding: 20px;
}


.ativo{
background-color: black;
color: rgb(245, 230, 230);
border-bottom: 3px solid rgb(255, 255, 255);
}


.aba-conteudo{
    display: none;
    color: black;
}

.ativa {
    display: block;
color:black;
}

.nomes{ 
    color:aqua;
    font: size 22px;
}


.centralizar{
    text-align: center;
}